Вам необходимо провести базовый EDA выбранного набора данных.

Требования к анализу:

построить не менее 4 визуализаций различных видов;
каждая визуализация должным образом оформлена и читается даже в отрыве от контекста;
по каждой визуализации необходимо написать вывод (какую гипотезу на ее основе можно выдвинуть?).

In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from pylab import rcParams
rcParams['figure.figsize'] = 13,6

In [3]:
df = pd.read_csv('2019.csv')

In [4]:
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [5]:
df['Year'] = 2019

In [6]:
df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [7]:
df2 = pd.read_csv('2018.csv')

In [8]:
df2['Year'] = 2018

In [9]:
df = pd.concat([df, df2])

In [10]:
df3 = pd.read_csv('2017.csv')

In [11]:
df3['Year'] = 2017

In [12]:
df = pd.concat([df, df3])

In [13]:
df.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Trust..Government.Corruption.,Dystopia.Residual
count,312.000000,312.000000,312.000000,312.000000,312.000000,312.000000,467.000000,311.000000,467.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.500000,5.391506,0.898298,1.211026,0.661295,0.423538,0.204154,0.111299,2018.002141,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.123120,1.850238
std,45.104737,1.114631,0.394592,0.300310,0.252724,0.156024,0.114708,0.095365,0.816932,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.101661,0.500028
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.750000,4.514250,0.609500,1.055750,0.488250,0.322500,0.120000,0.050000,2017.000000,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.057271,1.591291
50%,78.500000,5.379500,0.960000,1.265500,0.699000,0.449500,0.190134,0.082000,2018.000000,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.089848,1.832910
75%,117.250000,6.176000,1.219500,1.457500,0.858000,0.540250,0.262500,0.140500,2019.000000,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.153296,2.144654
max,156.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.838075,0.457000,2019.000000,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.464308,3.117485